BIRD_MONITOR_SECRET_KEY=change-me
BIRD_MONITOR_HOST=0.0.0.0
BIRD_MONITOR_PORT=8080
BIRD_MONITOR_DATA_DIR=./data
BIRD_MONITOR_DEVICE_NAME=
BIRD_MONITOR_DEVICE_INDEX=
BIRD_MONITOR_SAMPLE_RATE=32000
BIRD_MONITOR_CHANNELS=1
BIRD_MONITOR_SEGMENT_SECONDS=30
BIRD_MONITOR_MIN_EVENT_DURATION_SECONDS=0.2
BIRD_MONITOR_LOCATION_NAME=
BIRD_MONITOR_LATITUDE=
BIRD_MONITOR_LONGITUDE=
BIRD_MONITOR_DISABLE_RECORDER=false
BIRD_MONITOR_SPECIES_PROVIDER=birdnet
BIRD_MONITOR_SPECIES_MIN_CONFIDENCE=0.35
